<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body onload="startTime()">
    <div th:replace="plantilla/template :: cosas"></div>

    <header th:replace="plantilla/template :: header"></header>

    <div class="b-example-divider3"></div>



    <div class="b-example-divider"></div>

    <div class="bg-dark text-secondary px- py-5 text-center">
        <div class="container">
            <div class="py-5">
                <div style=" margin-left: 25%; margin-right: 25%;">
                    <form class="form-signin" th:action="@{/reset_password}" method="post" name="frm">

                        <div th:if="${error != null}">
                            <p class="text-danger">[[${error}]]</p>
                        </div>
                        <div th:if="${message != null}">
                            <p class="text-light">[[${message}]]</p>
                        </div>

                        <h1 class="display-5 fw-bold text-white">¿Contraseña Olvidada?</h1>
                        <hr>
                        <div style="margin-bottom: 1rem;">
                            <p>Enviaremos un correo para restablecer su contraseña.</p>
                        </div>

                        <input type="hidden" name="token" th:value="${token}" />

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese su nueva contraseña" required autofocus>
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="confirmPssword" id="confirmPssword" placeholder="Ingrese su nueva contraseña de nuevo" required>
                            <label for="confirmPssword">Confirmar Contraseña</label>
                        </div>

                        <input type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" value="Cambiar" onclick="validarPasswords()" />
                    </form>
                </div>
            </div>
        </div>

    </div>



    <div class=" b-example-divider2 "></div>


    <footer th:replace="plantilla/template :: footer "></footer>

</body>

</html>