<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla/template :: head">

</head>

<body onload="startTime()">
    <div th:replace="plantilla/template :: cosas"></div>

    <header th:replace="plantilla/template :: header"></header>

    <div class="b-example-divider2"></div>

    <div class="container" style=" padding-top: 5%; ">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-center ">[[${title}]]</h1>
        <div id="alerta" th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div id="alerta" th:if="${error}" class="alert alert-danger text-center">
            [[${error}]]
        </div>
        <div id="alerta" th:if="${alerta}" class="alert alert-warning text-center">
            [[${alerta}]]
        </div>
        <script>
            setTimeout(function() {
                $('#alerta').fadeOut('fast');
            }, 3000);
        </script>
    </div>

    <div class="container " style=" padding-bottom: 5%;">
        <div style="margin-bottom: 1rem;">

            <div class="row g-3">
                <nav aria-label="breadcrumb" sec:authorize="hasAnyAuthority('Admin','Enrutador')">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="https://docs.google.com/spreadsheets/d/1huwUQlzJy1S3-NvwavQiIjm1UGwCmF8D4CxyS5B86jg/edit?usp=sharing" target="_blank">Crear Ruta</a></li>
                        <li class="breadcrumb-item" sec:authorize="hasAnyAuthority('Admin','Enrutador')"><a th:href="@{/views/ruta/listar}">Asignar Mensajero</a></li>
                </nav>

                <div class="col-md-4 mb-3">

                    <div class="card">
                        <div class="card-header">Perfil</div>
                        <div class="card-body">
                            <h5 class="card-title">Bienvenido <span sec:authentication="principal.authorities"></span></h5>
                            <p class="card-text">[[${#request.userPrincipal.principal.fullName}]]</p>
                            <a th:href="@{/views/dashboard/cuenta}" class="btn btn-primary">Ver Cuenta</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">

                    <div class="card">
                        <div class="card-header">Pedidos del dia
                        </div>
                        <div class="card-body">
                            <div class="container ">
                                <div style="margin-bottom: 1rem;">
                                    <table id="tablatpProd" class="table table-striped dt-responsive nowrap" style="width:100%" hidden>

                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">Usuario ID</th>
                                                <th class="text-center">Tipo Producto</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Numero Guia</th>
                                                <th class="text-center">Destino</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-center">Tipo Envio</th>
                                                <th class="text-center">Tipo Vehiculo</th>
                                                <th class="text-center">Tamaño Paquete</th>
                                                <th class="text-center">Fecha Creacion</th>
                                                <th class="text-center">Fecha Recibido</th>
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody sec:authorize="hasAuthority('Usuario')">
                                            <th:block th:each="gestionenvios: ${listGestionEnvios}">
                                                <tr>
                                                    <td class="text-center">[[${gestionenvios.id}]]</td>
                                                    <td class="text-center">[[${gestionenvios.usuario.id}]]</td>
                                                    <td class="text-center">[[${gestionenvios.TipoProd.name}]]</td>
                                                    <td class="text-center">[[${gestionenvios.cantidad}]]</td>
                                                    <td class="text-center">[[${gestionenvios.numGuia}]]</td>
                                                    <td class="text-center">[[${gestionenvios.destino}]]</td>
                                                    <td>
                                                        <span th:if="${gestionenvios.estado == '1'}">En Transito</span>
                                                        <span th:if="${gestionenvios.estado == '2'}">Cancelado</span>
                                                        <span th:if="${gestionenvios.estado == '3'}">Novedad</span>
                                                    </td>
                                                    <td class="text-center">[[${gestionenvios.tipoEnvio}]]</td>
                                                    <td class="text-center">[[${gestionenvios.tipoVehiculo}]]</td>
                                                    <td class="text-center">[[${gestionenvios.tamPaquete}]]</td>
                                                    <td class="text-center">[[${gestionenvios.fechacreacion}]]</td>
                                                    <td class="text-center">[[${gestionenvios.fechaRecibido}]]</td>

                                                    <td class="text-center"><a class="btn btn-primary" th:href="@{'/views/gestion_envios/entregar/'+ ${gestionenvios.id}}">Entregar</a></td>
                                                    <td class="text-center">
                                                        <a class="btn btn-primary" th:href="@{'/views/gestion_envios/edit2/'+ ${gestionenvios.id}}">Edit</a>
                                                        <a class="btn btn-primary" th:href="@{'/views/gestion_envios/delete/'+ ${gestionenvios.id}}">Delete</a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                        <tbody sec:authorize="hasAnyAuthority('Admin','Enrutador')">
                                            <th:block th:each="gestionenvios: ${listGestionEnvios22}">
                                                <tr>
                                                    <td class="text-center">[[${gestionenvios.id}]]</td>
                                                    <td class="text-center">[[${gestionenvios.usuario.id}]]</td>
                                                    <td class="text-center">[[${gestionenvios.TipoProd.name}]]</td>
                                                    <td class="text-center">[[${gestionenvios.cantidad}]]</td>
                                                    <td class="text-center">[[${gestionenvios.numGuia}]]</td>
                                                    <td class="text-center">[[${gestionenvios.destino}]]</td>
                                                    <td>
                                                        <span th:if="${gestionenvios.estado == '1'}">En Transito</span>
                                                        <span th:if="${gestionenvios.estado == '2'}">Cancelado</span>
                                                        <span th:if="${gestionenvios.estado == '3'}">Novedad</span>
                                                    </td>
                                                    <td class="text-center">[[${gestionenvios.tipoEnvio}]]</td>
                                                    <td class="text-center">[[${gestionenvios.tipoVehiculo}]]</td>
                                                    <td class="text-center">[[${gestionenvios.tamPaquete}]]</td>
                                                    <td class="text-center">[[${gestionenvios.fechacreacion}]]</td>
                                                    <td class="text-center">[[${gestionenvios.fechaRecibido}]]</td>

                                                    <td class="text-center"><a class="btn btn-primary" th:href="@{'/views/gestion_envios/entregar/'+ ${gestionenvios.id}}">Entregar</a></td>
                                                    <td class="text-center">
                                                        <a class="btn btn-primary" th:href="@{'/views/gestion_envios/edit2/'+ ${gestionenvios.id}}">Edit</a>
                                                        <a class="btn btn-primary" th:href="@{'/views/gestion_envios/delete/'+ ${gestionenvios.id}}">Delete</a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>

                                        <script>
                                            $(document).ready(function() {
                                                var table = $('#tablatpProd').DataTable({
                                                    paging: false,
                                                    ordering: false,
                                                    info: false,
                                                    "bPaginate": false,
                                                    "bFilter": false,
                                                    "bInfo": false,
                                                })

                                                // Create the chart with initial data
                                                var container = $('<div/>').insertBefore(table.table().container());

                                                var chart = Highcharts.chart(container[0], {
                                                    chart: {
                                                        type: 'pie',
                                                    },
                                                    title: {
                                                        text: 'Estado',
                                                    },
                                                    series: [{
                                                        data: chartData(table),
                                                    }, ],
                                                });

                                                // On each draw, update the data in the chart
                                                table.on('draw', function() {
                                                    chart.series[0].setData(chartData(table));
                                                });
                                            });

                                            function chartData(table) {
                                                var counts = {};

                                                // Count the number of entries for each position
                                                table
                                                    .column(6, {
                                                        search: 'applied'
                                                    })
                                                    .data()
                                                    .each(function(val) {
                                                        if (counts[val]) {
                                                            counts[val] += 1;
                                                        } else {
                                                            counts[val] = 1;
                                                        }
                                                    });

                                                // And map it to the format highcharts uses
                                                return $.map(counts, function(val, key) {
                                                    return {
                                                        name: key,
                                                        y: val,
                                                    };
                                                });
                                            };
                                        </script>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">

                    <div class="card">
                        <div class="card-header">Tablas</div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item" sec:authorize="hasAnyAuthority('Usuario', 'Admin','Usuario')"><a th:href="@{/views/gestion_envios/Mis_Pedidos}">Mis pedidos</a></li>
                                <li class="list-group-item" sec:authorize="hasAnyAuthority('Usuario', 'Admin','Usuario')"><a th:href="@{/views/ruta/Mis_envios}">Mis Entregas</a></li>
                                <li class="list-group-item" sec:authorize="hasAuthority('Admin')"><a th:href="@{/views/usuarios/listar}">Usuarios</a></li>
                                <li class="list-group-item" sec:authorize="hasAuthority('Admin')"><a th:href="@{/views/roles/listar}">Roles</a></li>
                                <li class="list-group-item" sec:authorize="hasAnyAuthority('Admin','Enrutador')"><a th:href="@{/views/marcas/listar}">Marcas</a></li>
                                <li class="list-group-item" sec:authorize="hasAuthority('Admin')"><a th:href="@{/views/tpProd/listar}">Tipos Productos</a></li>
                                <li class="list-group-item" sec:authorize="hasAnyAuthority('Admin','Enrutador')"><a th:href="@{/views/gestion_envios/listar}">Gestion envios</a></li>
                                <li class="list-group-item" sec:authorize="hasAuthority('Admin')"><a th:href="@{/views/bitacora_operaciones/listar}">Bitacora</a></li>
                                <li class="list-group-item" sec:authorize="hasAuthority('Admin')"><a th:href="@{/views/seguimiento/listar}">Seguimiento</a></li>
                                <li class="list-group-item" sec:authorize="hasAuthority('Admin')"><a th:href="@{/views/enrutador/listar}">Ruta</a></li>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript" sec:authorize="hasAnyAuthority('Usuario')">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '44d89a4964208e97d1989eed4e9dcdbc5f6063ff';
        window.smartsupp || (function(d) {
            var s, c, o = smartsupp = function() {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
    </script>







    <div class="b-example-divider2 "></div>

    <footer th:replace="plantilla/template :: footer "></footer>

</body>

</html>