<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="plantilla/template :: head">

</head>

<body onload="startTime()">
    <div th:replace="plantilla/template :: cosas"></div>

    <header th:replace="plantilla/template :: header"></header>

    <div class="b-example-divider2"></div>


    <div class="container" style=" padding: 10%;">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-center ">[[${title}]]</h1>
        <br>
        <form th:action="@{/views/bitacora_operaciones/save}" method="post" th:object="${bitacoraOperaciones}">
            <div class="border rounded" style="padding: 3%;">
                <div class="mb-3">
                    <label for="id" th:if="${id != null}" class="form-label">Id:</label>
                    <input type="number" th:if="${id != null}" class="form-control" th:field="*{id}" placeholder="Marca de la empresa" id="id" name="id" required maxlength="45" readonly>
                </div>
                <div class="row g-3">
                    <div class="col-md-6 mb-3">
                        <label for="firstName" class="form-label">Envio: </label>
                        <input type="text" class="form-control" th:field="*{gestionEnvios}">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Numero de Guia</label>
                        <input type="text" class="form-control" th:field="*{numGuia}">

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Orden:</label>
                        <input type="text" class="form-control" th:field="*{Orden}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Valor Seguro:</label>
                        <input type="number" class="form-control" th:field="*{valorSeguroProducto}">

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Estado:</label>
                        <select th:field="*{estado}" class="form-control form-control-sm col-md-6" id="estado"> 
                            <option value="1">Transito</option>
                            <option value="2">Cancelado</option>
                            <option value="3">Novedad</option>				
                    </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Distancia:</label>
                        <input type="number" class="form-control" th:field="*{distancia}">

                    </div>


                </div>
                <div class="text-center ">
                    <button type="submit " class="btn btn-primary ">Guardar</button>
                    <button type="button" class="btn btn-danger " onclick="cancelForm() ">Cancelar</button>
                </div>
            </div>

        </form>
    </div>

    <div class="b-example-divider2 "></div>


    <footer th:replace="plantilla/template :: footer "></footer>

    <script type="text/javascript">
        function cancelForm() {
            window.location = "[[@{/views/bitacora_operaciones/listar}]] ";
        }
    </script>

</body>

</html>