<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="plantilla/template :: head">

</head>

<body onload="startTime()">
    <div th:replace="plantilla/template :: cosas"></div>

    <header th:replace="plantilla/template :: header"></header>

    <div class="b-example-divider2"></div>


    <div class="container" style=" padding: 10%;">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-center ">[[${title}]]</h1>
        <br>
        <form th:action="@{/views/gestion_envios/save2}" method="post" th:object="${gestionenvios}">
            <div class="border rounded" style="padding: 3%;">

                <div class="mb-3">
                    <label for="id" th:if="${id != null}" class="form-label">Id:</label>
                    <input type="number" th:if="${id != null}" class="form-control" th:field="*{id}" id="id" name="id" required maxlength="45" readonly>
                </div>
                <div class="row g-3">
                    <div class="col-md-6 mb-3">
                        <label for="firstName" class="form-label">Usuario: </label> <small><b>[[${#request.userPrincipal.principal.fullName}]]</b></small>
                        <input type="text" class="form-control" th:value="${#request.userPrincipal.principal.Identificacion}" th:name="usuario" th:id="usuario" name readonly>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Numero Guia</label>
                        <input type="text" class="form-control" th:field="*{numGuia}" id="numGuia" name="numGuia" required>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Direccion destino:</label>
                        <input type="text" class="form-control" th:field="*{destino}" id="destino" name="destino" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Cantidad:</label>
                        <input type="number" class="form-control" th:value="1" th:id="cantidad" th:name="cantidad" readonly>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Estado:</label>
                        <select th:field="*{estado}" class="form-control form-control-sm col-md-6" id="estado"> 
                            <option value="1">Transito</option>
                            <option value="2">Cancelado</option>
                            <option value="3">Novedad</option>						
                    </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="firstName" class="form-label">Tipo Producto: </label>
                        <select th:field="*{tipoProd}" class="form-control form-control-sm col-md-6"> 
                            <option th:each="tp:${tpProd}"
                                th:value="${tp.id}"
                                th:text="${tp.name}"		
                            />					
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Tipo Envio:</label>
                        <select th:field="*{tipoEnvio}" class="form-control form-control-sm col-md-6"> 
                            <option value="1">Standar</option>
                            <option value="2">Express</option>						
                    </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Tipo Vehiculo:</label>
                        <select th:field="*{tipoVehiculo}" class="form-control form-control-sm col-md-6"> 
                            <option value="1">Moto</option>
                            <option value="2">Carro</option>						
                            <option value="3">Camioneta</option>						
                    </select>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="lastName" class="form-label">Tamaño Paquete:</label>
                        <select th:field="*{tamPaquete}" class="form-control form-control-sm col-md-6"> 
                            <option value="1">Pequeño</option>
                            <option value="2">Mediano</option>						
                            <option value="3">Grande</option>						
                    </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Creacion:</label>
                        <input type="text" class="form-control" th:field="*{fechacreacion}" id="fechacreacion" name="dfechacreacion" readonly>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Recibidos:</label>
                        <input type="text" class="form-control" th:field="*{fechaRecibido}" id="fechaRecibidos" name="fechaRecibidos" readonly>
                    </div>


                </div>
                <div class="text-center ">
                    <button type="submit " class="btn btn-primary ">Guardar</button>
                    <button type="submit " class="btn btn-danger " onclick="cancelForm() ">Cancelar</button>
                </div>
            </div>

        </form>
    </div>

    <div class="b-example-divider2 "></div>


    <footer th:replace="plantilla/template :: footer "></footer>

    <script type="text/javascript">
        function cancelForm() {
            window.location = "[[@{/views/gestion_envios/listar}]] ";
        }
    </script>

</body>

</html>