<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">

</head>

<body onload="startTime()">
    <div th:replace="plantilla/template :: cosas"></div>

    <header th:replace="plantilla/template :: header"></header>

    <div class="b-example-divider2"></div>

    <div class="container" style=" padding-top: 5%;">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-center ">[[${title}]]</h1>
        <div id="alerta" th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <script>
            setTimeout(function() {
                $('#alerta').fadeOut('fast');
            }, 1000);
        </script>
        <br>
        <div class="col-md-2 text-center" style="margin-bottom: 2em;">
            <a th:href="@{/views/gestion_envios/nueva}"><button type="button" class="btn btn-warning">Nuevo </button></a>
        </div>
    </div>

    <div class="container " style=" padding-bottom: 5%;">
        <div style="margin-bottom: 1rem;">
            <table id="tablatpProd" class="table table-striped dt-responsive nowrap" style="width:100%">

                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Usuario ID</th>
                        <th class="text-center">Tipo Producto</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Numero Guia</th>
                        <th class="text-center">Destino</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Fecha Creacion</th>
                        <th class="text-center">Fecha Recibido</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="gestionenvios: ${listGestionEnvios}">
                        <tr>
                            <td class="text-center">[[${gestionenvios.id}]]</td>
                            <td class="text-center">[[${gestionenvios.usuario.id}]]</td>
                            <td class="text-center">[[${gestionenvios.TipoProd.name}]]</td>
                            <td class="text-center">[[${gestionenvios.cantidad}]]</td>
                            <td class="text-center">[[${gestionenvios.numGuia}]]</td>
                            <td class="text-center">[[${gestionenvios.destino}]]</td>
                            <td class="text-center">[[${gestionenvios.estado}]]</td>
                            <td class="text-center">[[${gestionenvios.fechacreacion}]]</td>
                            <td class="text-center">[[${gestionenvios.fechaRecibido}]]</td>

                            <td class="text-center"><a class="btn btn-primary" th:href="@{'/views/gestion_envios/entregar/'+ ${gestionenvios.id}}">Entregar</a></td>
                            <td class="text-center">
                                <a class="btn btn-primary" th:href="@{'/views/gestion_envios/edit2/'+ ${gestionenvios.id}}">Edit</a>
                                <a class="btn btn-primary" th:href="@{'/views/gestion_envios/delete/'+ ${gestionenvios.id}}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

        </div>
    </div>



    <script>
        $(document).ready(function() {
            var table = $('#tablatpProd').DataTable({
                colReorder: true,
                deferRender: true,
                lengthChange: false,
                buttons: {
                    buttons: [{

                            extend: 'excel',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                            },
                            className: 'btn-primary',

                            split: [, {
                                extend: 'print',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                },
                                title: 'Envio',
                            }],
                            className: 'btn-primary',

                        },
                        'pageLength'
                    ],
                    dom: {
                        button: {
                            className: 'btn',
                        }
                    }


                },
                language: {
                    buttons: {
                        pageLength: {
                            _: "Mostrar %d elementos",
                            '-1': "Mostrar todos"
                        }
                    }
                },
                "oLanguage": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }


                }
            });

            table.buttons().container()
                .appendTo('#tablatpProd_wrapper .col-md-6:eq(0)');
        });
    </script>



    <div class="b-example-divider2 "></div>

    <footer th:replace="plantilla/template :: footer "></footer>

</body>

</html>